extends layout

block content
  h1= title
  form(method='POST' action='/add')
    div 
       label(for='Name') Name
       br 
       input(type='text' id='name' placeholder='Name' name='name')
    div 
       label(for='avatar') Avatar
       br 
       input(type='text' id='avatar' placeholder='Avatar URL' name='avatar')
    div 
       label(for='description') Description
       br 
       textarea( id='description' placeholder='Description' name='description')
    button(type='submit') Add
